header {
 background-color: #b8174c;
 color: white;
 height: 50px;
 font-size: large;
 line-height: 50px;
 padding-left: 25px;
}

nav {
    background-color: #19a187;
    color: white;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
}

main {
   max-width: 800px;
   margin: auto;
   padding-left: 0 20px;
}

table.paper {
  width: 100%;
  border-collapse: collapse;
  padding: 10px 20px;
}

.titulo-tabla {
    border-bottom: #19a187 1px solid;
    text-align: left;
}

.numero {
    text-align: right;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px #b8174c;
}