header {
  background-color: #b8174c;
  color: white;
  height: 50px;
  font-size: large;
  line-height: 50px;
  padding-left: 25px;
}

nav {
  background-color: #19a187;
  color: white;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
}

nav.main-menu a {
  color: white;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

table.paper {
  width: 100%;
}

.titulo-tabla {
  border-bottom: #19a187 1px solid;
  text-align: left;
}

.numero {
  text-align: right;
}

table.paper .error {
  font-size: small;
  padding-left: 40px;
  color: #990000;
}

.pie-de-pagina {
  margin-top: 40px;
  padding: 20px;
  border-top: solid 1px #b8174c;
}

.lista-vacia {
  text-align: center;
  padding: 20px;
  color: #666666;
}